.filesx {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}



.filesxPos {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #28a745;
}

.disBlo {
    transition: 3s;
    display: block;
}

.disNo {
    transition: 2s;
    display: none;
}

.brd {
    border: 1px solid #dc3545!important;
}


.werd {
    border: 1px solid #28a745!important;
}

.brd:focus {
    box-shadow: 0 0 0 0.2rem rgba(146, 15, 15, 0.25)!important;
}

.werd:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25)!important;
}

.hola {
    position: absolute !important;
    top: 119px;
    right: 170px;
    z-index: 1049;
}

#boton1 {
    display: none;
}

#boton3 {
    display: none;
}

.psoFs {
    margin-top: 40px;
    left: 20px;
    padding: 10px!important;
}
.triangulo_bottom_Activo {
    top: 0;
    left: 0px;
    width: 110px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 30px solid #618b32;		
}
.tri_liqi{
    top: 0;
    left: 0px;
    width: 110px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 30px solid #7d5c8e;
}
.triangulo_bottom_Inactivo {
    top: 0;
    left: 0px;
    width: 110px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 30px solid #ff3547;		
}
.triangulo_bottom_right {
    position: absolute;
    right: 33px;
    width: 190px;
    height: 0px;
    border-left: 50px solid transparent;
    border-bottom: 30px solid #4285f4!important;		
}
.cerraLis{
    background: #ff3547;
    position: absolute;
    right: 70px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cerraDev{
    background: #ff3547;
    position: absolute;
    right: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.transA{
    transition: 2s;
}
.cerraDev:hover{
    background:#d11b2a;
}
.cerraLis:hover{
    background:#d11b2a;
}
.menuLiqu{
    height: 30px;
    width: 100%;
    background: #827f84;
    

}
.header-tableR{
    width: 100%;
    height: 30px;
}
.fot-right{
    position: absolute;
    right: 30px;
}
.Actio{
    position: absolute;
    top: 2px;
    right: 10px;
    padding: 10px;
    height: auto;
    width: 150px;
    background: #b1b4b7!important;
}
.body-tableR{
    width: 100%;
    height: auto;
    padding: 10px;
    background: #edeef4!important;
}
.bg-ale{
    background:  #1392a2;
}
.logoFr{
    width: 30px;
}
.logoT {
    color: #000;
    font-size: 20px!important;
    font-weight: bold;
    text-decoration: none;
}
.icoEr {
    color: #09a8db;
}
.stLo {
    color: #01a9dc;
}
.bg-dev{
    background: #7079ab!important;
}
.bg-grasy{
   background:  #dae1da!important;
}
.b-01{
    font-weight: bold;
}
.iconOp{
    color: #869098
}
.progress {
background-color: #c1c1c1!important;
}
.lineaH{
    margin-top: 4px;
    height: 21px;
    width: 2px;
    background: #b9b9b9
}
.lineaC{
    margin-top: 1px;
    margin-left: 9px;

    height: 21px;
    width: 2px;
    background: #869098;
}

.nav-rE{
    background: #ffffff5e !important;
    border-radius: 20px !important;
    margin-right: 10px;
    margin-left:10px;
    margin-top: 5px; 
}
.sidebar .nav-link{
    padding: .40rem 1rem!important;
}
.sidebar .nav-dropdown.open {
    background: rgba(0, 0, 0, 0)!important;
}
.nav-pills .nav-link.active,.nav-pills .show>.nav-link{
    background-color:#484c48bf!important;
    color:#fff!important;
    border-radius: 20px !important;
    margin-right: 10px;
}
.sidebar .nav-link:hover, .sidebar .navbar .dropdown-toggle:hover {
    color: #fff;
    background: #ffffff5e;
    border-radius: 20px !important;
    margin-right: 10px;
}
.sidebar .sidebar-nav::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #2b4773!important;
}
.sidebar .sidebar-nav::-webkit-scrollbar-track {
    background-color: #2b4773;
   
}
.grSt{
    background: #2e5d73b3!important;
}

.strongR{
    background-image: url(../img/azu.jpg);
    width: 100%;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    padding-bottom: 0px;
}
/* .strongR{
    background-image: url(../img/azu.jpg);
    width: 100%;
    height: 170px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    padding-bottom: 0px;
} */
.imatrs{
    width: 70px;
    border: 3px solid white;	
}

.popover-body {
    padding: 0.5rem 0.75rem;
    color: #212529;
    background: #1e4269;
}
.popover-header{
    background: #00a0e3;
}
.fl-rt{
    position: absolute;
    left: 20px;
}
.darJK{
    /* background: #346984!important; */
    background: rgba(78,159,230,1);
    background: -moz-linear-gradient(-45deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,159,230,1)), color-stop(10%, rgba(71,145,211,1)), color-stop(85%, rgba(16,38,69,1)), color-stop(100%, rgba(5,17,41,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
    background: linear-gradient(135deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e9fe6', endColorstr='#051129', GradientType=1 );
}
.hedCa{
     /* background: #346984!important; */
     background: rgba(78,159,230,1);
     background: -moz-linear-gradient(-45deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
     background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,159,230,1)), color-stop(10%, rgba(71,145,211,1)), color-stop(85%, rgba(16,38,69,1)), color-stop(100%, rgba(5,17,41,1)));
     background: -webkit-linear-gradient(-45deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
     background: -o-linear-gradient(-45deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
     background: -ms-linear-gradient(-45deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
     background: linear-gradient(135deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e9fe6', endColorstr='#051129', GradientType=1 );
}
.busq{
    background: #dae1da!important;
}
.fontS-18{
    font-size: 18px!important;
    color: #1e4269!important;
    text-transform: uppercase
}
.fontS-17{
    font-size: 18px!important;
    text-transform: uppercase
}
.psoFSal{
    position: absolute;
    top: -6px;
    left: -20px;
    padding: 10px!important;
}
.RetW{
    position: absolute;
    right: 110px;
    top: 128px;
}
.psoFDev{
    position: absolute;
    top: 3px;
    right: 15px;
    padding: 10px!important;
}
.sm-0{
    margin: 0!important;
}
.hed-Li{
    text-align: end;
    height: 20px;
    background: #618b32;
    color:white;
    width: 100%;
}
.body-LI{
width: 100%;
height: 82%;
background: #edeef4
}
.sp-0{
    padding: 0!important;
}
.icoC-text{
    color: #587fab!important;
}
.text-dr{
    position: absolute;
    left: 20px;
}

/*  */

.modal-header {
    background: rgba(78,159,230,1);
     background: -moz-linear-gradient(-45deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
     background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,159,230,1)), color-stop(10%, rgba(71,145,211,1)), color-stop(85%, rgba(16,38,69,1)), color-stop(100%, rgba(5,17,41,1)));
     background: -webkit-linear-gradient(-45deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
     background: -o-linear-gradient(-45deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
     background: -ms-linear-gradient(-45deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
     background: linear-gradient(135deg, rgba(78,159,230,1) 0%, rgba(71,145,211,1) 10%, rgba(16,38,69,1) 85%, rgba(5,17,41,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e9fe6', endColorstr='#051129', GradientType=1 );

     
}
.modal-header h5{
    color: white!important;
     font-weight: bold!important;
}
.close {
    color: white!important;
}
.mn-t-01{
    margin-top: -10px!important;
}
.mnt-04{
    margin-top: -30px!important;
}
.meGr{
    width: auto!important;
}

.EquiMen{
    width: auto;
    height: auto;
    padding: 10px;
}
.redondear2{
    border-radius: 5px!important;
}
.redondear3{
    border-radius: 25px!important;
}
.whit-de{
    background: #ffffff47!important;
}
.bg-mee{
background: #e48e0e
}
.triangulo_sup {
    position: absolute;
    right: 40px;
    top: 159px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #e48e0e;
}
table.b-table > thead > tr > th, table.b-table > tfoot > tr > th {
    background: #285482!important;
    color: white!important;
}
.padba{
    
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.triangulo_eq {
    position: absolute;
    right: 54px;
    top: 159px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #e48e0e;
}
@media (min-width: 769px){
    .visible-wE{
        display: block!important;
        margin: 0;
        padding: 0;
    }
    .visible-rE{
        display: none!important;
        margin: 0;
        padding: 0;
    }
    .mr7{
        margin-left: 15px!important;
    }

}
@media (max-width: 768px){
    .visible-rE{
        display: block!important;
    }
    .visible-wE{
        display: none!important;
    }
}

